
.board {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 64vh;
    width: 64vh;
    border: 1px solid black;
    font-size: 2.5em;
    text-align: center;
}

.white {
    background-color: white;
   /* border: 1px solid black; */
    
    height: 8vh;
    width: 8vh;
    overflow: hidden;
    
}

.black {
    background-color: black;
    color: white;
   /* border: 1px solid black; */
    height: 8vh;
    width: 8vh;
    overflow: hidden;
}
